CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

database.default.hostname = mysql
database.default.database = ci4
database.default.username = ci4
database.default.password = ci4secret
database.default.DBDriver = MySQLi
database.default.port = 3306

# S3 (RustFS)
S3_ENDPOINT = 'http://rustfs:9000'
S3_ACCESS_KEY = 'rustfsadmin'
S3_SECRET_KEY = 'rustfsadmin'
S3_REGION = 'us-east-1'
