CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

database.default.hostname = mysql
database.default.database = ci4
database.default.username = ci4
database.default.password = ci4secret
database.default.DBDriver = MySQLi
database.default.port = 3306
